@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none !important;
}

/* a::after {
  content: "↗";
} */

.ch-frame-buttons {
  display: none !important; /*  on not show copybutton, muse have add important */
}

/* .ch-frame-title-bar {
  font-size: 18px;
} */

.ch-code-scroll-content {
  font-size: 18px;
  /* font-family: Inter; */
}
