@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* p {
    @apply indent-4;
  } */
  svg {
    display: inline;
  }
  h1,
  h2 {
    @apply text-balance;
  }

  h1 {
    @apply text-center;
  }
}

@layer components {
  .warning {
    @apply bg-yellow-400;
  }
}

a {
  text-decoration: none !important;
}

/* a::after {
  content: "↗";
} */

@keyframes comeInOut {
  0% {
    transform: scale(0) rotate(0deg);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0) rotate(180deg);
  }
}

::-webkit-scrollbar {
  display: none;
}

.prose .anchor {
  @apply invisible absolute no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply decoration-neutral-400 decoration-[0.1em] underline-offset-2 transition-all dark:decoration-neutral-600;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.remark-container {
  color: red;
  background-color: 'blue';
}
