@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply indent-4;
  }
  h1,
  h2 {
    @apply text-balance;
  }

  h1 {
    @apply text-center;
  }
}

a {
  text-decoration: none !important;
}

/* a::after {
  content: "↗";
} */

@keyframes comeInOut {
  0% {
    transform: scale(0) rotate(0deg);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0) rotate(180deg);
  }
}

::-webkit-scrollbar {
  display: none;
}
