@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none !important;
}

/* a::after {
  content: "↗";
} */

/* prose-pre */
/* pre {
  border-radius: none !important;
} */

h1,
h2 {
  text-wrap: balance;
}

h1 {
  text-align: center;
}
