@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* iconify patch */
  svg {
    display: inline;
  }
  h1,
  h2 {
    text-wrap: 'text-balance';
  }

  h1 {
    @apply text-center;
  }
}

@layer components {
}

/* 在全屏状态下隐藏元素 */
/* .nav:-webkit-full-screen {
  display: none !important;
}

.nav:-moz-full-screen {
  display: none !important;
}

.nav:full-screen {
  display: none !important;
} */

/* a {
  text-decoration: underline;
} */

@keyframes comeInOut {
  0% {
    transform: scale(0) rotate(0deg);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0) rotate(180deg);
  }
}

::-webkit-scrollbar {
  display: none;
}

.prose .anchor {
  @apply invisible absolute no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply decoration-[0.1em] no-underline underline-offset-4 transition-all decoration-neutral-400 dark:decoration-neutral-600;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.task-list-item {
  list-style: none !important;
}

table {
  table-layout: fixed !important;
}
